.App{
  text-align: center;
}

input{
  padding: 1rem;
  width:80%;
}
p{
  font-size:25px;
}
ul{
  list-style: none;
  margin-top:10px;
  font-size: 30px;
}
li{
  display:inline;
}

a {
  position: absolute;
  bottom: 0;
  color: black;
}
